<html>
    <head>
        <title></title>
    </head>
    <body>
        <h1><p align="center">Data Processing Microservice</p></h1><br><br>
        <h3><p align="left">{{ message }}</p></h3><br><br>
        <form action="/">
        <input type="submit" value="Click here to upload more files."></form>
        <form action="/wordcloud">
        <input type="submit" value="Click here to see the wordcloud."></form>
        <form action="/clean_data_bucket">
        <input type="submit" value="Click here to empty the S3 DATA bucket."></form>
        <form action="/clean_word_bucket">
        <input type="submit" value="Click here to empty the S3 WORD bucket."></form>
        <img src="./static/data_arch.png">
    </body>
</html>